:root {
    --dark-color: #172430;
    --light-color: #fffeff;
    --accent-color: #e26a69;
}


body {
    margin: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    width: 99vw;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 2px;
    justify-content: center;
}

.sub_container {
    width: 49vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image */
.img_container {
    width: 410px;
    height: 615px;
    margin-top: 5px;
    background-color: #fffeff57;
    border-radius: 10px;
    overflow: hidden;
}

.img_container .img_upload {
    width: 100%;
    height: 100%;
}

.square {
    width: 410px !important;
    height: 410px !important;
}

.landscape {
    width: 410px !important;
    height: 231px !important;
}


.btn_upload {
    margin-top: 5px;
    padding: 2px 10px;
    font-size: 1.4rem;
    color: #fffeff;
    background-color: #172430;
    border: 2px solid #fffeff;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.btn_upload:hover {
    background-color: #e26a69;
    border: 2px solid #e26a69;
}

/* Image Info */

.title {
    width: 90%;
    padding: .2rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-color);
}

.img_prompt_container {
    width: 90%;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
}

textarea {
    width: 100%;
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-color);
}

textarea:focus-visible {
    outline: 2px solid var(--accent-color);
}

.img_generation_data_container {
    width: 90%;
    margin-top: 10px;
}

.img_generation_data_sub_container {
    display: flex;
    flex-direction: column;
}

.remove_extra_data {
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.remove_extra_data input {
    width: 20px;
    height: 20px;
}

.remove_extra_data_span {
    font-size: 0.8rem;
    color: #c4c4c4;
}

.action_btn_container {
    margin-top: 20px;
}

.action_btn_container button {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--accent-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 3px 5px black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.action_btn_container button:hover {
    background: var(--light-color);
    color: var(--dark-color);

}

.action_btn_container button:active {
    background-color: #c4c4c4;
    transition: 0s;
}

.hidden {
    display: none;
}

/* Done Page */

.done_container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.done_msg {
    font-size: 1rem;
    color: #fffeff;
    font-weight: bold;
}

.done_icon {
    padding: 10px;
    background-color: #fffeff;
    border-radius: 100%;
}

.done_back {
    margin-top: 20px;
    padding: 5px 20px;
    color: #172430;
    background-color: #e26a69;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.done_back:hover {
    background-color: #fffeff;

}