:root{
    --dark-color:#172430;
    --light-color:#fffeff;
    --accent-color:#e26a69;
}


body{
    margin: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    width:99vw;
    height:100%;
    overflow: hidden;
}

.container{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 2px;
    justify-content: center;
}

.sub_container{
    width:49vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Image */
.to_remove{
    width: 410px;
    height:615px;
    background-color: var(--light-color);
    opacity: 50%    ;
    border-radius: 10px;
    overflow:hidden;
}

.upload_img{
    width: 410px;
    height:615px;
    border-radius: 10px;
}

.btn_upload{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 1.4rem;
}

/* Image Info */

.title{
    width:90%;
    padding: .2rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-color);
}

.img_prompt_container{
    width: 90%;
    margin-top: 10px;
}
span{
    font-size: 1.5rem;
    font-weight: bold;
}
textarea{
    width:100%;
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-color);
    
}

textarea:focus-visible{
    outline: 2px solid var(--accent-color);
}

button{
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--accent-color);
    color: var(--light-color);
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 3px 5px black;
    transition: 0.5s ease-in-out;
}
button:hover{
    background: var(--light-color);
    color:var(--dark-color);
    
}

button:active{
    background-color: #c4c4c4;
    transition: 0s;
}

.btn_container{
  padding: 2px 10px;  
}

.img_generation_data_container{
    width: 90%;
    margin-top: 10px;
}